<%= form_for @message, url: contact_path, :html => { :class => "form-horizontal contact col-lg-12", remote: true } do |message_form| %>
  <div class="form-group">
    <div>
      <%= message_form.text_field :name, :class => 'form-contact form-clear', placeholder: t('.name'), :required => true %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= message_form.email_field :email, :class => 'form-contact form-clear', placeholder: t('.email'), :required => true %>
    </div>
  </div>
  
  <div class="form-group">
    <div>
      <%= message_form.text_area :content, :class => 'form-contact form-clear', placeholder: t('.message'), rows: 5, :required => true %>
    </div>
  </div>
  
  <div class="form-group">
    <div>
      <%= button_tag(type: "submit", class: "btn btn-primary btn-blue") do %>
        <%= t('.send') %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="message_errors">
  
</div>