<%- model_class = Job -%>
<div class="col-lg-9">
  <div class="job-form-wrapper">
    <div class="col-lg-12">
      <%= form_for @job, :html => { :class => "form-horizontal job" } do |f| %>

        <% if @job.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@job.errors.count, "error")%> <%= t 'errors.messages.save_prohibited', :model => model_class.model_name.human.titleize %></h3>
            </div>
            <div class="panel-body">
              <ul>
              <% @job.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="job-input-wrapper">
          <%= f.text_field :job_title, :placeholder => :job_title, :class => 'form-control form-job' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.text_area :job_description, :placeholder => :job_description, :class => 'form-control form-job wysihtml5', rows: 12 %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :language_id, options_for_select(@languajes.map{|p|[p.title, p.id]}, :selected => f.object.language_id), :prompt => t('jobs.form.language'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :industry_id, options_for_select(@industries.map{|p|[p.title, p.id]}, :selected => f.object.industry_id), :prompt => t('jobs.form.industry'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :employment_id, options_for_select(@employments.map{|p|[p.title, p.id]}, :selected => f.object.employment_id), :prompt => t('jobs.form.employment'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :schedule_id, options_for_select(@schedules.map{|p|[p.title, p.id]}, :selected => f.object.schedule_id), :prompt => t('jobs.form.schedule'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :province, options_for_select([ "San Jose", "Heredia", "Alajuela", "Cartago", "Puntarenas", "Limón", "Guanacaste"], :selected => f.object.province), :prompt => t('jobs.form.province'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.text_field :other_signs, :placeholder => :other_signs ,:class => 'form-control form-job' %>
        </div>
        <div class="job-input-wrapper">
          <%= f.select :status, options_for_select(Job::STATUSES.map, :selected => f.object.status), :prompt => t('jobs.form.status'), :class => 'form-control' %>
        </div>
        <div class="job-input-wrapper">
          <div class="input-group">
            <span class="input-group-addon"><%= f.label :hire_date %></span>
            <%= f.date_select :hire_date, {:include_blank => true, :default => nil}, :class => 'form-user-header', :start_year => 2018, :end_year => Time.now.year %>
          </div>
        </div>

        <div class="job-button-group">
          <div class="col-lg-12 action-buttons-center">
            <%= f.submit(@job.new_record? ? t('.create', :default => t("helpers.links.create")) : 
                                            t('.update', :default => t("helpers.links.update")), class: 'btn btn-primary btn-blue') %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      jobs_path, :class => 'btn btn-default btn-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="side-bar-job col-lg-12">
    <h3>Create Asociations</h3>
    <%= link_to t('activerecord.models.languaje'),
                  new_language_path,
                  :class => 'btn btn-primary btn-blue' %>
    <%= link_to t('activerecord.models.industry'),
                  new_industry_path,
                  :class => 'btn btn-primary btn-blue' %>
    <%= link_to t('activerecord.models.employment'),
                  new_employment_path,
                  :class => 'btn btn-primary btn-blue' %>
    <%= link_to t('activerecord.models.schedule'),
                  new_schedule_path,
                  :class => 'btn btn-primary btn-blue' %>
  </div>
</div>