<% if @jobs.length > 0 %>
  <% @jobs.each do |job| %>
    <%= link_to job_path(job) do %>
      <div class="job-block">
        <div class="job-header">
          <i class="fa <%= job.industry.icon %> icon-industry" aria-hidden="true"></i>
          <div class="job-header-main">
            <h4><%= job.job_title %></h4>
            <h5><%= job.industry.title %></h5>
          </div>
          <div class="job-header-details">
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><%= job.province %>, <%= job.other_signs %></span>
            <span class="label label-success employment"><%= job.employment.title %></span>
          </div>
          <% if User::user_admin_content_allowed?(current_user) %>
            <div class="job-links">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                              job_path(job), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_job_path(job), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              job_path(job),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2 class="no-jobs-message" >No hay puestos disponibles</h2>
<% end %>