<div class="home-slider-wrapper">
	<div id="home-slider" class="home-slider">
		<% @slides.each do |slide| %>
			<div class="slide">
				<%= image_tag slide.background(:normal) %>
				<div class="home-slider-overlay"></div>
				<div class="home-slider-content">
		  			<h2><%= slide.title %></h2>
					<h5><%= slide.subtitle %></h5>
					<% if slide.url? %>
						<%= link_to t('.read_more'), slide.url, class: 'btn btn-primary btn-blue' %>
					<% end %>
		  		</div>
			</div>
		<% end %>
	</div>
</div>


<div class="container">
	<div class="wrapper">
		<div class="header-wrapper">
			<span><%= t('.jobs_subtitle') %></span>
			<h2><%= t('.jobs_title') %></h2>
		</div>
		<%= render :partial => 'jobs/table' %>
	</div>
</div>
<div class="parallax-home parallax-wrapper">
	<div class="parallax">
		<div class="overlay-parallax"></div>
		<div class="info-parallax">
			<h1><%= t('.register_cv') %></h1>
			<%= link_to t('.create_account'), new_user_registration_path, :class => 'btn btn-primary btn-blue' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="wrapper">
		<div class="header-wrapper">
			<span><%= t('.clients_subtitle') %></span>
			<h2><%= t('.clients_title') %></h2>
			<p><%= t('.clients_description') %></p>
		</div>

		<div class="services-grid">
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Enrique Castro</h6>
				  	<p>Telescope es una empresa de jóvenes, que conocen a profundidad el mercado laboral costarricense, y
					en especial las necesidades de las empresas.</p>
				</div>
			</div>
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Charlene Walsh</h6>
				  	<p>I was pleasantly surprised with this group of young professionals, they are poised, and passionate, and it
					shows through their service. I will unquestionably work with them again.</p>
				</div>
			</div>
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Leticia Carrillo</h6>
				  	<p>Fue una agradable experiencia experimentar el profesionalismo y el nivel servicio y compromiso de
					Telescope para con sus clientes.</p>
				</div>
			</div>
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Tripp Kingsley</h6>
				  	<p>This was my first experience working with a recruiting company outside the United States, I couldn’t be
					happier with the final results.</p>
				</div>
			</div>
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Luz Rivera</h6>
				  	<p>Es evidente que disfrutan lo que hacen, y que conocen muy bien las necesidades de los diferentes
					negocios.</p>
				</div>
			</div>
			<div class="service-wrapper" >
				<div class="service">
				  	<i class="fa fa-user-circle"></i>
				  	<h6>Virginia Esquivel</h6>
				  	<p>Un servicio totalmente personalizado, y de altísima calidad, el concepto de servicio al cliente toma un
					nuevo sentido con Telescope, definitivamente dejan un estándar muy alto.</p>
				</div>
			</div>
		</div>
	</div>
</div>
