<div class="profile-content-user">
  <div class="container">
    <div class="wrapper">
      <div class="header-wrapper">
        <span><%= t('users.profile_content.education_subtitle') %></span>
        <h2><%= t('users.profile_content.education_title') %></h2>
      </div>
      <div id="render-user-education">
        <%= render :template => 'educations/index' %>
      </div>
    </div>
  </div>
  <div class="white-background">
    <div class="container">
      <div class="wrapper">
        <div class="header-wrapper">
          <span><%= t('users.profile_content.experience_subtitle') %></span>
          <h2><%= t('users.profile_content.experience_title') %></h2>
        </div>
        <div id="render-user-experience">
          <%= render :template => 'experiences/index' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="wrapper">
      <div class="header-wrapper">
        <span><%= t('users.profile_content.languages_subtitle') %></span>
        <h2><%= t('users.profile_content.languages_title') %></h2>
      </div>
      <div id="render-user-user_language">
        <%= render :template => 'user_languages/index' %>
      </div>
    </div>
  </div>
  <div class="white-background">
    <div class="container">
      <div class="wrapper">
        <div class="header-wrapper">
          <span><%= t('users.profile_content.skills_subtitle') %></span>
          <h2><%= t('users.profile_content.skills_title') %></h2>
        </div>
        <div id="render-user-skill">
          <%= render :template => 'skills/index' %>
        </div>
      </div>
    </div>
  </div>
</div>