<div class="profile-maintenance-user">
  <div class="container">
    <div class="col-lg-12">
      <div class="wrapper overflow-wrapper">
        <div class="header-wrapper">
          <span>Mantain Contents</span>
          <h2>Maintenance Links</h2>
        </div>
        <div class="maintenance-wrapper">
          <div class="maintenance-block col-lg-6">
            <h2>Jobs</h2>
            <%= link_to 'Jobs', jobs_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Job', new_job_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Applications</h2>
            <%= link_to 'Applications', applications_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Application', new_application_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Degrees</h2>
            <%= link_to 'Degrees', degrees_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Degree', new_degree_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Industries</h2>
            <%= link_to 'Industries', industries_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Industry', new_industry_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Employments</h2>
            <%= link_to 'Employments', employments_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Employment', new_employment_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Schedules</h2>
            <%= link_to 'Schedules', schedules_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Schedule', new_schedule_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Languages</h2>
            <%= link_to 'Languages', languages_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Language', new_language_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Language Levels</h2>
            <%= link_to 'Language Levels', language_levels_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Language Level', new_language_level_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Slides</h2>
            <%= link_to 'Slides', slides_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Slide', new_slide_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Values</h2>
            <%= link_to 'Values', values_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Value', new_value_path, :class => 'btn btn-success btn-green' %>
          </div>
          <div class="maintenance-block col-lg-6">
            <h2>Services</h2>
            <%= link_to 'Services', services_all_path, :class => 'btn btn-primary btn-blue' %>
            <%= link_to 'Create Service', new_service_path, :class => 'btn btn-success btn-green' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>