<div class="col-xs-12">
  <!-- ADD LINK -->
  <div class="add-skill-link">
      <%= link_to t('.add'), new_user_skill_path(@user), :remote => true, :class => 'btn btn-primary btn-blue' %>
  </div>
  <!-- RENDER CREATION FORM -->
  <div id="render-skill-new"></div>
  <div class="user-skills">
    <ul class="skills-list">
      <% @skills.each do |skill| %>
        <!-- DELETE LINK -->
        <div class="skill-block">              
          <li class="skill-element">
            <div class="delete-skill">
              <%= link_to user_skill_path(@user, skill), :method => 'delete', :remote => true, 
                                      :class => 'btn btn-danger delete-skill-link', 
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :toggle => "tooltip", :placement => "bottom"}, 
                                      :title => t('.delete') do %>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
            <!-- EDIT LINK -->
            <div class="edit-skill">
              <%= link_to edit_user_skill_path(@user, skill), :remote => true, :class => 'btn btn-primary edit-skill-link',
                                      :data => { :toggle => "tooltip", :placement => "bottom"}, 
                                      :title => t('.edit') do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
            <div>
              <span class="skill-name"><%= skill.skill %></span>
              <span class="skill-value"><%= skill.knowledge_percentage %>%</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: <%= skill.knowledge_percentage %>%;"></div>
            </div>
          </li>
        </div>   
        <!-- RENDER EDIT FORM -->
        <div class="render-skill-edit"></div>
      <% end %>
    </ul>
  </div>
</div>
