<div class="panel-links">
	<p><%= t('.greeting', recipient: @resource.email, default: "Welcome #{@resource.email}!") %></p>

	<p><%= t('.instruction') %></p>

	<p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>

	<p><%= t('.ignore') %>/p>

	<p><%= t('.farewell') %></p>

	<p><%= t('.sign') %></p>
</div>