<footer class="site-footer">

      <!-- Top section -->
      <div class="container">
        <div class="row">
          

          <div class="col-xs-6 col-md-3">
            <h6>Telescope</h6>
            <ul class="footer-bar">
              <%= render 'layouts/nav_bar' %>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6><%= t("menu.footer_title") %></h6>
            <ul class="footer-bar">
              <% if !current_user %>
                <li><%= link_to t("menu.login"), new_user_session_path %></li>
                <li><%= link_to t("menu.register"), new_user_registration_path %></li>
              <% else %>
                <li><%= link_to t("menu.profile"), profile_path %></li>
                <li><%= link_to t("menu.logout"), destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>

          <div class="col-sm-12 col-md-6 about-footer">
            <%= image_tag 'logo_footer.png' %>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12 copyright">
            <small>Developed by BackyardLinks ©</small>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <%= render 'layouts/nav_social' %>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>