<div class="navbar navbar-static-top nav-bar">
	<div class="container">
		<div class="navbar-toggle">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<div class="nav-left">
			<%= link_to 'Telescope', root_path %>
		</div>
		<div class="nav-right">
			<ul>
				<% if params['locale'] == "es" %>
					<li class="nav-li"><%= link_to_unless_current "English", locale: "en" %></li>
				<% else %>
					<li class="nav-li"><%= link_to_unless_current "Español", locale: "es" %></li>
				<% end %>
				<% if !current_user %>
					<li><%= link_to t("header.login"), new_user_session_path, :class => "btn btn-primary btn-blue login-link" %></li>
					<li><%= link_to t("header.register"), new_user_registration_path, :class => "btn btn-success btn-green register-link" %></li>
				<% else %>
					<li><%= link_to t("header.profile"), profile_path, :class => "btn btn-success btn-green profile-link" %></li>
					<li><%= link_to t("header.logout"), destroy_user_session_path, method: :delete, :class => "btn btn-danger btn-white logout-link" %></li>
			    <% end %>
			</ul>
		</div>
		<div class="nav-center">
			<ul>
				<li><%= active_link_to t("menu.home"), root_path, active: :exclusive, :class => 'nav-link' %></li>
				<li><%= active_link_to t("menu.jobs"), jobs_path, active: :inclusive, :class => 'nav-link' %></li>
				<li><%= active_link_to t("menu.services"), services_path, active: :exclusive, :class => 'nav-link' %></li>
				<li><%= active_link_to t("menu.about"), about_path, active: :exclusive, :class => 'nav-link' %></li>
				<li><%= active_link_to t("menu.contact"), contact_path, active: :exclusive, :class => 'nav-link' %></li>
			</ul>
		</div>
	</div>
</div>
<div class="nav-mobile">
	<ul>
		<li><%= active_link_to t("menu.home"), root_path, active: :exclusive, :class => 'nav-link' %></li>
		<li><%= active_link_to t("menu.jobs"), jobs_path, active: :inclusive, :class => 'nav-link' %></li>
		<li><%= active_link_to t("menu.services"), services_path, active: :exclusive, :class => 'nav-link' %></li>
		<li><%= active_link_to t("menu.about"), about_path, active: :exclusive, :class => 'nav-link' %></li>
		<li><%= active_link_to t("menu.contact"), contact_path, active: :exclusive, :class => 'nav-link' %></li>
	</ul>
</div>